@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --blue:#36c4fcc3;
   --black:#000;
   --white:#fff;
   --border:.2rem solid var(--black);
   --box-shadow:0 1rem 1.5rem rgba(0,0,0,.3);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
   /*cursor: none;*/
}

*:active > .cursor{
   transform: translateX(-40%) rotate(-45deg);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-padding-top: 7rem;
}

html::-webkit-scrollbar{
   width: 1rem;
}

html::-webkit-scrollbar-track{
   background: var(--blue);
}

html::-webkit-scrollbar-thumb{
   background: var(--black);
}

body{
   background: var(--blue);
   overflow-x: hidden;
}

section{
   padding:5rem 10%;
}

.cursor{
   position: absolute;
   height: 8rem;
   pointer-events: none;
   top:-5rem; left:-5rem;
   transform: translateX(-40%);
   z-index: 10000;
}

.heading{
   text-align: center;
   font-size: 7vw;
   text-transform: uppercase;
   color:var(--white);
   -webkit-text-stroke: .2rem var(--black);
   margin-bottom: 3rem;
}
.first{
   display: flex;
   justify-content: center;
}
.Firstheading{
   font-size: 50px;
   margin-bottom: 0;
   text-align: center;
}

.container{
   max-width: 900px;
   height: 330px;
   display: flex;
   /* flex-wrap: wrap; */
   margin-top: 20px;
}
.image .content{
   width: 450px;
   height: 330px;
}
.image img{
   object-fit: contain;
   width: 450px;
   height: 330px;
}
.content p{
   font-weight: bold;
   text-align: justify;
}
.content{
   margin-left: 5px;
   background-color: wheat;
   padding: 10px 25px 10px 25px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.line{
   width: 300px;
   height: 5px;
   background-color: wheat;
   border: none;
   border-radius: 16px;
}
.btn{
   display: block;
   width: 100%;
   padding: 1.5rem;
   font-size: 2rem;
   text-align: center;
   color: white;
   background-color:#36c4fcc3;
   border: none;
   border-radius: 0.4rem;
   transition: 0.2s;
}

.btn:hover, .btn:active{
   background-color: #1ea2d67d;
}
.btn span {
   margin-left: 1rem;
   transition: 0.2s;
}
.btn span, .btn:active span{
   margin-left: 1.5rem;
}
.header{
   padding:1.5rem 10%;
   position: fixed;
   top:0; left:0; right:0;
   z-index: 1000;
   background: var(--blue);
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header .logo{
   font-size: 2.5rem;
   color:var(--black);
}

.header #menu-btn{
   height: 5rem;
   width: 5rem;
   line-height: 4.7rem;
   border-radius: 50%;
   border:var(--border);
   background: var(--white);
   font-size: 1.7rem;
   text-align: center;
}

.header #menu-btn:hover{
   background: var(--black);
   color:var(--white);
}

.navbar{
   position: fixed;
   bottom:0; left:-110%;
   height: calc(100% - 8rem);
   width: 50%;
   z-index: 1000;
   background: var(--black);
   padding:0 9%;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   gap:1.5rem;
   transition: .2s linear;
}

.navbar.active{
   left:0;
}

.navbar a{
   font-size: 5.5rem;
   color:var(--white);
   text-transform: uppercase;
   transition: .2s linear;
}

.navbar a:hover{
   background: var(--white);
   font-size: 4rem;
   transform: scale(.9);
   color:var(--black);
   padding:.5rem 2rem;
}

.navbar-img{
   position: fixed;
   bottom:0; right:-110%;
   height: calc(100% - 8rem);
   width: 50%;
   transition: .2s linear;
   z-index: 1000;
}

.navbar-img.active{
   right:0;
}

.navbar-img img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: top;
   filter: grayscale();
}

.home{
   position: relative;
}

.home h3{
   text-align: center;
   font-size: 6vw;
   text-transform: uppercase;
}

.home .home-text{
   -webkit-text-stroke: .2rem var(--black);
   color:var(--white);
   position: relative;
   z-index: 10;
}

.home .home-img{
   position: absolute;
   top:0; left:0;
   transform: translate(-50%, -70%) scale(0);
   transition: .2s linear;
   pointer-events: none;
   height: 40rem;
   width: 40rem;
   object-fit: cover;
}

.home h3{
   text-shadow: var(--box-shadow);
}

.home .home-text:hover ~ .home-img{
   transform: translate(-50%, -70%) scale(1);
}
.about .info-container .info p span{
   color:var(--blue);
}

.services .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
}

.services .box-container .box{
   border-radius: 0.4rem;
   background: var(--white);
   text-align: center;
}

.services .box-container .box img{
   display: block;
   width: 100%;
   height: 18rem;
   object-fit: cover;
}
.card_content{
   padding: 3rem 3rem;
}

.services .box-container .box h3{
   font-size: 3rem;
   font-weight: 500;
   color: #0d0d0d;
   margin-bottom: 1.5rem;
}

.services .box-container .box p{
   font-size: 1.5rem;
   letter-spacing: 0.1rem;
   line-height: 1.7;
   color: #3d3d3d;
   margin-bottom: 2.5rem;
   text-align: justify;
}

.services .box-container .box:hover{
   background: var(--white);
}

.services .box-container .box:hover p,
.services .box-container .box:hover h3{
   color:var(--black);
}

.services .box-container .box:hover .btn:hover{
   background: var(--#36c4fc91);
   color:var(--black);
}








/* media queries  */

@media (max-width:1200px){

   .header{
      padding:1.5rem 5%;
   }

   section{
      padding:3rem 5%;
   }

}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

   section{
      padding:3rem 2rem;
   }

   .cursor{
      display: none;
   }

   .header{
      padding:1.5rem 2rem;
   }

}

@media (max-width:768px){

   .heading{
      font-size: 11vw;
   }

   .navbar{
      width: 100%;
      z-index: 1200;
      background: none;
   }

   .navbar a{
      background: var(--blue);
      font-size: 4rem;
      transform: scale(.9);
      color:var(--black);
      border:var(--border);
      padding:.5rem 2rem;
   }

   .navbar-img{
      width: 100%;
   }

   .home h3{
      font-size: 10vw;
   }

   .home .home-img{
      height: 20rem;
      width: 20rem;
      transform: translate(-50%, -100%) scale(0);
   }

   .home .home-text:hover ~ .home-img{
      transform: translate(-50%, -100%) scale(1);
   }

   .about .info-container .image{
      order:-1;
   }
}

@media (max-width:450px){

   html{
      font-size: 50%;
      height: 100%;
   }
   
   .container{
      flex-wrap: wrap;
      width: 300px;
      height: 250px;
      margin: 0px;
   }
   .image img{
      width: 300px;
      height: 254px;
   }
   .content{
      margin: 0;
   }
   
}